/* pageTitle */

.pageTitle {
    position: static;
    left: 1.73%;
    right: 1.73%;
    top: 0%;
    bottom: 79.3%;

    font-family: "Sniglet", cursive;
    font: Sniglet;
    font-style: normal;
    font-weight: 800;
    font-size: 200px;
    line-height: 249px;
    text-align: center;

    color: #000000;

}

/* navBar */
.navBar {
    position: static;
   
    height: 112px;
    right: 0px;
    top: 225px;

    background: #F9F9F9;
    border: 1px solid #000000;
    box-sizing: border-box; 
    
    width:100%; 
    overflow: hidden;
    grid-template-columns: 25% 25% 25% 25%;
    
}

  /* the links in nav bar */
  .navBar a {
    float: left;
    margin-left:20px;
    padding:5%;
    font-family: 'Orienta', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 0px;
    text-align: center;
    color: #000000;
  }
  
  /* when hovering over links, change color */
  .navBar a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }

.pageContent {
    background: #BBB4C9;
}

.coverPage{
    position: static;
    width: 100%;
    height: auto;

    overflow: hidden;
    border: 1px solid #000000;
    box-sizing: border-box; 

}

/* coverpageIntro */

.coverPageIntro {
    width: 44%;
    float: left;
    font-family: Maitree;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    padding: 5%;
    

    color: #000000;

}

.coverPageImage {
    float: right;
    object-fit: cover;
    object-fit: stretch;
}


.title {
    font-family: Orienta;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 79px;

    color: #000000;

    text-align: center;
    
}

.team {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 5%;
}

.team img {
    width: 80%;
    float: left; 
}

.team p {
    font-family: Orienta;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.team div {
    display: grid;
}

.contactRow {
    display: grid;
    grid-template-columns: 30% 43% 30%;
    grid-template-rows: auto;

    
}

.contactInfo div{
    
    border-width: 1%;
    padding: 5%;
    box-shadow: 10px 10px 5px grey;
    
}

.contactInfo h3 {
    
    text-align: center;

    font-family: Maitree;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

.contactInfo h2 {
    font-family: Orienta;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 56px;

    color: #C56293;
}


.contactBox {
    background-color: #F9F9F9;
    padding: 20%;
    width:80%;
}

.section {
    padding: 5%
}
.section p {
    font-family: Orienta;
    font-style: normal;
    font-weight: normal;
    font-size: 20;
    line-height: 30px;
    
}
.fitnessGram {
    padding-left: 5%;
    
}
.fitnessGram p {
    padding-left: 2%;
    border-left: 5px solid #000000;
}

.slider {
    position:absolute;
    transition-duration:5s;
    transition-timing-function:linear;
    transition-delay: 0s;

}

.slider:hover {
    left: 200px;
}

